button{
  display: inline-flex;
  background: none;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.button {
  display: inline-flex;
  padding: 13rem 25rem;
	color: var(--button-text-color);
	background-color: var(--button-background-color);
  border: none;
  border-radius: var(--button-border-radius);
  outline: none;
  text-decoration: none;
  font-weight: normal;
  line-height: 0;
  align-items: center;
  min-height: 50px;
}

.button:disabled {
	color: #999;
}

.button:not(:disabled):active, .button:active{
	filter: brightness(1.2);
}

.button.dark{
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-accent);
  border-top: 1px solid var(--color-accents-light);
  border-left: 1px solid var(--color-accents-light);
  padding: 10rem 25rem;
  font-size: 15rem;
  border-radius: var(--content-border-radius);
}