@import url(prism.css);
@import url(css/typography.css);
@import url(css/button.css);

*,
::before,
::after {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  box-sizing: border-box;
  scrollbar-color: var(--color-accent) transparent;
  scrollbar-width: thin;
}

::selection {
  background-color: rgba(165, 199, 245, 0.116);
}

::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.123);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}
/* ::-webkit-scrollbar-thumb:window-inactive{ 
  background: var(--scroll-thumb);
} */

html,
body {
  position: relative;
  width: 100%;
  min-height: 100%;
}

html {
  touch-action: manipulation;
  font-size: calc(var(--general-scale) * 1px);
}

body {
  background: var(--background-body-color);
  color: var(--color-medium);
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: calc(var(--general-mobile-scale) * 1px);
  }
}